<h1>Categories</h1>

<%= link_to "Create a New Category", new_category_path %>

<% @categories.each do |cat| %>
  <p>
    <%= cat.topic %>
  </p>
  <%= link_to "Delete", category_path(cat), method: :delete %>
<% end %>