</br>
<p>Logged in as, <%= current_user.username %></p>
</br>
<%= link_to "Create a New Idea", new_user_idea_path(current_user) %> </br>
</br>
<%= link_to "Category Corner", admin_categories_path if current_user.admin? %>
</br></br>
<%= link_to "Log Out", logout_path %>
</br>